@unit: 12px;

@color1: black;


html, body{
  height: 100%;
  overflow-y: hidden;
}

@font-face{
  font-family: "rubik";
  src: url("fontes/Rubik-Bold.ttf");
}

@font-face{
  font-family: "rubik-medium";
  src: url("fontes/Rubik-Regular.ttf");
}

@font-face{
  font-family: "oldStandard";
  src: url("fontes/OldStandard-Regular.ttf");
}

body{
  display: flex;
  h1{
    text-transform: capitalize;
    font-family: "rubik";
    font-size: 1.5vw;
    text-indent: 5%;
    padding: @unit/2;
  }
  section{
    width: 0;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    flex-basis: auto;
  }
  section#projets,
  section#projet,
  section#docs{
    flex-grow: 18;
    a{
      text-decoration: none;
      color:@color1;
    }
    img{
      width: 100%;
    }
    article{
      margin: @unit/2;
      .metas{
        padding: @unit;
      }
    }
    article:hover{
      outline: @unit/12 solid @color1;
    }
    .grid_item{
      width: calc(33% ~'-' @unit);
    }
    article.focus{
      width: calc(100% ~'-' @unit*2);
      display: block;
    }
  }

  section#projet{
    flex-grow: 4;
    a{
      text-decoration: none;
      color: @color1;
    }
    article{
      p{
        width: 50%;
        font-family: 'rubik-medium';
        font-size: 1.2vw;
        line-height: 1.5vw;
        z-index: 1;
        text-indent: @unit*3;
        margin-right: 10%;
        margin-left:2%;
      }
      p:nth-of-type(1){
        padding-top: @unit*3;
      }
      p:nth-last-of-type(1){
        padding-bottom: @unit*3;
      }
    }
    img{
      width: 84%;
      padding-bottom: @unit;
      margin-left: 14%;
      margin-right: 2%;
      padding-bottom: @unit;
      z-index: 10;
    }

  }

  #apropos{
    h1{
      font-size: 2vw;
    }
  }

  #nav.infosProjet{
    //   padding: @unit;
    //   flex-grow: 2;
    ul,
    li,
    h1{
      display: inline;
      cursor: pointer;
    }
    //   h1{
    //     font-size: 2vw;
    //     border-bottom: 2px solid @color1;
    //     border-right: 1px solid @color1;
    //   }
    //   h1:hover{
    //     background: @color1;
    //     color: white;
    //   }
    //   ul{
    //     display: block;
    //     cursor: pointer;
    //     font-family: 'oldStandard';
    //     font-size: 2vw;
    //     margin-top: @unit*3;
    //     li:hover{
    //       color: grey;
    //     }
    //     // span{
    //     // //  vertical-align: text-top;
    //     //   font-family: 'oldstandard-bold';
    //     //   padding-left: @unit*2;
    //     // }
    //     // span:nth-of-type(1){
    //     //   padding-left: @unit*0;
    //     // }
    //   }
    //   p{
    //     font-family: 'rubik-medium';
    //     line-height: 1.45vw;
    //     text-indent: @unit*3;
    //     margin-left: @unit*2;
    //     margin-right: @unit;
    //   }
    //   p:nth-of-type(1){
    //     padding-top:@unit*2;
    //   }
    li:not(.visible):not(:nth-of-type(1)){
      display: none;
    }
    #documentation{
        display: inline;
      }
  }

  section#nav{
    line-height: @unit*1.8;
    padding: 10px 10px;
    flex-grow: 2;
    @font-size: 18px;
    h2{
      margin-top: @font-size;
      margin-bottom: @font-size;
      font-family: "rubik-medium";
      font-size: @font-size !important;
      color: black;
      display: none;
    }
    h2:before {
      content: "- ";
    }
    ul,
    li,
    h1{
      display: inline-block;
      cursor: pointer;
    }
    h1{
      font-family: "rubik-medium";
      display: inline-block;
      text-transform: capitalize;
      font-size: @font-size !important;
      text-indent: 0%;
      padding: 0 20px;
    }
    h1:hover{
    }
    ul{
      display: inline-block;
      cursor: pointer;
      font-family: 'oldStandard';
      font-size: @font-size;
      li{
        padding: 0 5px;
      }
      li:not(:nth-of-type(1)){
        display: none;
      }
      li:hover{
        color: grey;
      }
    }
    p{
      font-family: 'rubik-medium';
      line-height: 1.45vw;
      text-indent: @unit*3;
      margin-left: @unit*2;
      margin-right: @unit;
    }
    p:nth-of-type(1){
      padding-top:@unit*2;
    }
    #categories{
      ul.categorie{
        display: inline;
      }
    }
    #documentation{
      // display: none;
      article.grid_item{
        height: 60px;
        width: 32%;
        display: inline-block;
        text-align: center;
      margin-top: @unit;
        h1 {
          font-family: 'oldStandard';
          font-size: 0.9vw;
          display: block;
        }
        img{
          margin: 0 auto;
          height: 100%;
          filter: gray;
          -webkit-filter: grayscale(1);
          filter: grayscale(1);
        }
        a{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
